@import "../abstract/_breakpoints.scss";
header {
  margin: 0;
  padding: 2%;
  /* background: var(); */
  box-shadow: 0 0.125rem 0.5rem rgba(var(--black), 5%);

  @include bp(medium) {
    padding: 3.375rem;
  }
}
h2 {
  margin: 0;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  a {
    &.active {
      text-decoration: none;
    }
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    line-height: 1;
    display: inline-block;
    padding: 1rem;
    // color: var(--black);
    // border-bottom: .25rem solid transparent;
    text-decoration: none;
    &.active {
      text-decoration: none;
      // border-bottom-color: var(--accent);
    }
  }
}

.header {
  &__logo {
    // margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0;
  }
}
