---
import Footer from "../components/Footer.astro";
import HeroImage from "../components/HeroImage.astro";
import Layout from "../layouts/Layout.astro";
import { CONTACT } from "../consts";

import { myFade } from "../components/interactions/transitions/fade";
import { slide } from "astro:transitions";

const title = "";
const description = "";
const image = {
  src: "/assets/images/mikolaj_madejski.jpg",
  alt: "",
};
---

<Layout
  description="I’m Mikołaj Madejski. Passionate creator of media. I do designs."
>
  <main data-barba="container" data-barba-namespace="opacity-transition">
    <article>
      <div class="hero-image__wrapper">
        <div class="hero-image__container">
          <HeroImage image={image} />
        </div>
        <div class="hero-image__deco">
          <div class="hero-image__text hero-image__hi display-1">Hi!</div>
          <div class="hero-image__content visible-large">
            <h2 class="hero-image__title h5">WHO I AM?</h2>
            <p class="hero-image__text">
              I’m Mikołaj Madejski. Passionate creator of media. I do designs.
            </p>
          </div>
          <div class="hero-image__info">
            <a
              href={`phone:${CONTACT.phone.replaceAll(" ", "")}`}
              class="info__phone">{CONTACT.phone}</a
            >
            <a href={`mailto:${CONTACT.mail}`} class="info__mail"
              >{CONTACT.mail}</a
            >
          </div>
        </div>
      </div>
      <div class="prose">
        <div class="hero-image__content visible-small">
          <h2 class="hero-image__title h5">WHO I AM?</h2>
          <p class="hero-image__text">
            I’m Mikołaj Madejski. Passionate creator of media. I do designs.
          </p>
        </div>

        <h2 class="h5">LET’S DO THE STUFF</h2>
        <p>
          Inspired by Toy Story in childhood, I have started exploring design
          softwares for my own.
          <br />
          I’m Apple fun. I know that the hardest thing is to make design simple.
          But the process of designing brings so much fun!
        </p>
        <div class="footer__wrapper">
          <Footer />
        </div>
        <hr />
        <h2 class="h5">SOFTWARE</h2>
        <p>
          Blender, Unreal Engine, Fusion 360, RizomUV, Substance Painter,
          Photoshop, Illustrator, After Effects, Apple Motion, Final Cut Pro,
          Figma
        </p>
      </div>
    </article>
  </main>
</Layout>

