---
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/navbar/Navbar.astro";
import Footer from "../components/Footer.astro";
import HeroImage from "../components/HeroImage.astro";

const title = "";
const description = "";
const image = {
  src: "/mikolaj_madejski.jpg",
  alt: "",
};
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <!-- <body> -->
  <!-- <Layout
  title="Who i am?"
  description="I’m Mikołaj Madejski. Passionate creator of media. I do designs."
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
> -->

  <!-- </Layout> -->
  <body>
    <Navbar />
    <main>
      <article>
        <div class="hero-image__wrapper">
          <div class="hero-image">
            <HeroImage {...image} />
          </div>
          <div class="hero-image__gradient"></div>
          <div class="hero-image__deco">
            <p class="hero-image__text display-1">Hi!</p>
            <h2 class="hero-image__title">WHO I AM?</h2>
            <p class="hero-image__text">
              I’m Mikołaj Madejski. Passionate creator of media. I do designs.
            </p>

            <p class="hero-image__info">
              <div class="info__phone">+48 515 307 817</div>
              <a href="mailto:mikolaj.madejskii@gmail.com" class="info__mail">mikolaj.madejskii@gmail.com</a>
            </p>
          </div>
        </div>
        <div class="prose">
          <div class="title">
            <h1>{title}</h1>
          </div>
          <h3>LET’S DO THE STUFF</h3>
          <p>
            Inspired by Toy Story in childhood, I have started exploring design
            softwares for my own.
            <br />
             I’m Apple fun. I know that the hardest thing is to make design
            simple. But the process of designing brings so much fun!
          </p>
        </div>
      </article>
    </main>
    <Footer />
  </body><style lang="scss">
    .prose,
    .hero-image__deco {
      max-width: 700px;
      width: 100%;
      margin: auto;
    }

    .hero-image {
      &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        > * {
          // outline: 1px solid green;
          grid-column: 1 / 1;
          grid-row: 1 / 1;
        }
      }

      &__deco {
        z-index: 1;
      }

      &__gradient {
        // outline: 1px solid red;
        // position: absolute;
        inset: 0;
        z-index: 1;

        background: linear-gradient(
          175deg,
          rgba(217, 217, 217, 0) 15%,
          rgba(0, 0, 0, 0.82) 101%
        );
        background-blend-mode: multiply;
      }
    }
  </style>
</html>
