---
import HeaderLink from "../HeaderLink.astro";
import { SITE_TITLE } from "../../consts";
import Logo from "../ui/Logo.astro";
---

<header>
  <nav>
    <HeaderLink href="/">{SITE_TITLE}</HeaderLink>
    <div class="header__logo">
      <a href="/">
        <Logo class="test" />
      </a>
    </div>
    <div class="internal-links">
      <HeaderLink href="/about">Info</HeaderLink>
    </div>
  </nav>
</header>
<style lang="scss">
  
</style>
