---
interface Props {
  title: string;
  date: string;
  text: string;
}

const { title, date, text } = Astro.props;
---

<div class="head__wrapper">
  <div class="head">
    <h1 class="title display-1">
      {title}
    </h1>
    <div class="date">{date}</div>
    <p class="text">{text}</p>
  </div>
</div>

