---
import ImageVideoSwitch from "./ImageVideoSwitch.astro";

const { image, id, video, noEvents } = Astro.props;
---

<div class="hero-image">
  <a href="/" class="hero__close">
    <div
      id="close"
      data-lottie-data={JSON.stringify({
        id: "close",
        src: "/assets/animations/close.json",
        autoplay: false,
        player: "light",
        loop: false,
      })}
    >
    </div>
  </a>
  <ImageVideoSwitch
    video={video}
    image={{ ...image, width: 1920, height: 1000, loading: "eager" }}
    noEvents={!video?.src}
  />
</div>

<script>
  import barba from "@barba/core";
  import Lottie from "lottie-web";

  const closeAnimationFrames = {
    mouseEnter: 0,
    click: 30,
    mouseLeave: 60,
  };

  const init = () => {
    const close = document.getElementById("close")!;
    const closeConfig = JSON.parse(close?.getAttribute("data-lottie-data")!);

    const animation = Lottie.loadAnimation({
      container: close, // the dom element that will contain the animation
      renderer: "svg",
      loop: closeConfig.loop ?? false,
      autoplay: closeConfig.autoplay ?? false,
      path: closeConfig.src, // the path to the animation json
      rendererSettings: {
        viewBoxOnly: true,
      },
    });

    const setupLottieAnimations = () => {
      if (animation) {
        let clicked = false;

        animation.wrapper.addEventListener("mouseenter", () => {
          animation.playSegments(
            [closeAnimationFrames.mouseLeave, closeAnimationFrames.click - 1],
            true
          );
        });

        animation.wrapper.addEventListener("click", () => {
          animation.playSegments(
            [closeAnimationFrames.click, closeAnimationFrames.mouseLeave - 1],
            true
          );

          clicked = true;
        });

        animation.wrapper.addEventListener("mouseleave", () => {
          if (!clicked) {
            animation.playSegments([60, 86], true);
          }
          clicked = false;
        });
      }
    };

    setupLottieAnimations();
  };

  barba.hooks.beforeEnter((e) => {
    init();
  });
</script>
