---
import type { CollectionEntry } from "astro:content";
import ProjectThumbnail from "./ProjectThumbnail.astro";

import { myFade } from "../components/interactions/transitions/fade";
import { slide } from "astro:transitions";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;

---

<div class="project-list">
  {
    posts.map((post) => (
      <div class="project-list__item">
        <ProjectThumbnail
          slug={post.slug}
          title={post.data.title}
          image={{
            src: post.data.heroImage ?? "placeholder",
            alt: "test",
            width: 720,
            height: 720,
            loading: "eager",
          }}
          video={{
            src: post.data.heroVideo
          }}
          date={post.data.pubDate}
          description={post.data.description}
        />
      </div>
    ))
  }
</div>

