---
import type { CollectionEntry } from "astro:content";
import ProjectThumbnail from "./ProjectThumbnail.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<div class="project-list">
  {
    posts.map((post) => (
      <div class="project-list__item">
        <ProjectThumbnail
          slug={post.slug}
          title={post.data.title}
          image={{
            src: post.data.heroImage ?? "placeholder",
            alt: "test",
            width: 720,
            height: 720,
            loading: "eager",
          }}
          date={post.data.pubDate}
          description={post.data.description}
        />
      </div>
    ))
  }
</div>
<style lang="scss">
  @import "../styles/abstract/_breakpoints.scss";
  .project-list {
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 500px));
    // grid-template-columns: repeat(1, auto);

    // display: flex;
    // flex-wrap: wrap;
    // > * {
    //   flex:  0 100px;
    // }

    @include bp(small) {
      // grid-template-columns: repeat(2, auto);
    }

    @include bp(medium) {
      // grid-template-columns: repeat(3, auto);
    }

    @include bp(large) {
      // grid-template-columns: repeat(4, auto);
    }

    &__item {
      width: 100%;
      @include bp(xsmall) {
        width: 50%;
      }

      @include bp(medium) {
        width: 33.333%;
        // grid-template-columns: repeat(3, auto);
      }

      @include bp(large) {
        width: 25%;
        // grid-template-columns: repeat(4, auto);
      }

      @include bp(desktop) {
        width: 20%;
        max-width: 500px;
        // grid-template-columns: repeat(4, auto);
      }


      // .outlined-image {
      // border: 1px solid rgb(var(--white));
      // }
      // outline: 1px solid red;
    }
  }
</style>
